.contact__container {
    background: var(--color-bg2);
    padding: 7rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 5rem auto;
    border-radius: 1rem;
}

.contact__aside {
    background: var(--color-primary);
    padding: 3rem;
    margin-top: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 14rem;
    height: 610px;
}

.aside__image {
    width: 12rem;
    margin-bottom: 2rem;
    padding-right: 1px;
}

.contact__aside h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.contact__aside p {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.contact__details li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

.contact__socials {
    display: flex;
    gap: 0.8rem;
    margin-top: 1rem;
}

.contact__socials a {
    background: var(--color-bg2);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: var(--transition);
}

.contact__socials a:hover {
    background: transparent;
    border-color: var(--color-danger);
}

/*--forms--*/

.contact__form {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form__name {
    display: flex;
    gap: 1.2rem;
}

.contact__form input[type="text"] {
    width: 50%;
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
}

.contact__container {
    max-width: 100%;
}

@media screen and (max-width:600px) {
    .contact__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}